## Preview Raw Data

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

### Read in CSVs, Preview, and Check Formatting

#### CRSP Monthly Stock Event - Name History

In [2]:
qcrspmse_raw = pd.read_csv('qcrspmse_raw.csv.gz', compression='gzip')

qcrspmse_raw.head()

,permno,namedt,nameendt,shrcd,exchcd,siccd,ncusip,ticker,comnam,shrcls,...,naics,primexch,trdstat,secstat,permco,compno,issuno,hexcd,hsiccd,cusip
0,10000.0,1986-01-07,1986-12-03,10.0,3.0,3990.0,68391610,OMFGA,OPTIMUM MANUFACTURING INC,A,...,NaN,Q,A,R,7952.0,60007905.0,10396.0,3.0,3990.0,68391610
1,10000.0,1986-12-04,1987-03-09,10.0,3.0,3990.0,68391610,OMFGA,OPTIMUM MANUFACTURING INC,A,...,NaN,Q,A,R,7952.0,60007905.0,10396.0,3.0,3990.0,68391610
2,10000.0,1987-03-10,1987-06-11,10.0,3.0,3990.0,68391610,OMFGA,OPTIMUM MANUFACTURING INC,A,...,NaN,Q,A,R,7952.0,60007905.0,10396.0,3.0,3990.0,68391610
3,10001.0,1986-01-09,1993-11-21,11.0,3.0,4920.0,39040610,GFGC,GREAT FALLS GAS CO,NaN,...,NaN,Q,A,R,7953.0,60007906.0,10398.0,2.0,4925.0,36720410
4,10001.0,1993-11-22,2004-06-09,11.0,3.0,4920.0,29274A10,EWST,ENERGY WEST INC,NaN,...,NaN,Q,A,R,7953.0,60007906.0,10398.0,2.0,4925.0,36720410

In [3]:
qcrspmse_raw.dtypes

permno      float64
namedt       object
nameendt     object
shrcd       float64
exchcd      float64
siccd       float64
ncusip       object
ticker       object
comnam       object
shrcls       object
tsymbol      object
naics       float64
primexch     object
trdstat      object
secstat      object
permco      float64
compno      float64
issuno      float64
hexcd       float64
hsiccd      float64
cusip        object
dtype: object

#### (Monthly) S&P 500 Index

In [4]:
qcrsp500_raw = pd.read_csv('qcrsp500_raw.csv.gz', compression='gzip')

qcrsp500_raw.head()

,caldt,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn
0,1925-12-31,NaN,NaN,NaN,NaN,15236829.5,89.0,NaN,NaN,12.46,NaN
1,1926-01-30,-0.001783,-0.003980,0.006457,0.003250,15277664.0,89.0,15236829.5,79.0,12.74,0.022472
2,1926-02-27,-0.033296,-0.037876,-0.039979,-0.042451,14712894.9,89.0,15277664.0,81.0,12.18,-0.043956
3,1926-03-31,-0.057708,-0.062007,-0.067915,-0.073275,14012079.2,89.0,14712894.9,81.0,11.46,-0.059113
4,1926-04-30,0.038522,0.034856,0.031441,0.027121,14500482.2,89.0,14012079.2,82.0,11.72,0.022688

In [5]:
qcrsp500_raw.dtypes

caldt      object
vwretd    float64
vwretx    float64
ewretd    float64
ewretx    float64
totval    float64
totcnt    float64
usdval    float64
usdcnt    float64
spindx    float64
sprtrn    float64
dtype: object

#### (Daily) S&P 500 Index

In [6]:
qcrsp500d_raw = pd.read_csv('qcrsp500d_raw.csv.gz', compression='gzip')

qcrsp500d_raw.head()

,caldt,vwretd,vwretx,ewretd,ewretx,totval,totcnt,usdval,usdcnt,spindx,sprtrn
0,1925-12-31,NaN,NaN,NaN,NaN,15236829.5,89.0,NaN,NaN,NaN,NaN
1,1926-01-02,0.004297,0.004297,0.002941,0.002941,15319686.5,89.0,15236829.5,79.0,NaN,NaN
2,1926-01-04,-0.001357,-0.001357,0.001036,0.001036,15298901.2,89.0,15319686.5,80.0,NaN,NaN
3,1926-01-05,-0.004603,-0.004653,-0.005856,-0.006063,15227711.5,89.0,15298901.2,80.0,NaN,NaN
4,1926-01-06,0.000537,0.000537,0.000888,0.000888,15235889.2,89.0,15227711.5,80.0,NaN,NaN

In [7]:
qcrsp500d_raw.dtypes

caldt      object
vwretd    float64
vwretx    float64
ewretd    float64
ewretx    float64
totval    float64
totcnt    float64
usdval    float64
usdcnt    float64
spindx    float64
sprtrn    float64
dtype: object

#### CRSP Monthly Stock File

In [8]:
qcrspmsf_raw = pd.read_csv('qcrspmsf_raw.csv.gz', compression='gzip')

qcrspmsf_raw.head()

,cusip,permno,permco,issuno,hexcd,hsiccd,date,bidlo,askhi,prc,...,ret,bid,ask,shrout,cfacpr,cfacshr,altprc,spread,altprcdt,retx
0,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1985-12-31,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-2.5625,NaN,1986-01-07,NaN
1,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-01-31,-2.50,-4.4375,-4.3750,...,NaN,NaN,NaN,3680.0,1.0,1.0,-4.3750,0.250,1986-01-31,NaN
2,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-02-28,-3.25,-4.3750,-3.2500,...,-0.257143,NaN,NaN,3680.0,1.0,1.0,-3.2500,0.250,1986-02-28,-0.257143
3,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-03-31,-3.25,-4.4375,-4.4375,...,0.365385,NaN,NaN,3680.0,1.0,1.0,-4.4375,0.125,1986-03-31,0.365385
4,68391610,10000.0,7952.0,10396.0,3.0,3990.0,1986-04-30,-4.00,-4.3125,-4.0000,...,-0.098592,NaN,NaN,3793.0,1.0,1.0,-4.0000,0.250,1986-04-30,-0.098592

In [9]:
qcrspmsf_raw.dtypes

cusip        object
permno      float64
permco      float64
issuno      float64
hexcd       float64
hsiccd      float64
date         object
bidlo       float64
askhi       float64
prc         float64
vol         float64
ret         float64
bid         float64
ask         float64
shrout      float64
cfacpr      float64
cfacshr     float64
altprc      float64
spread      float64
altprcdt     object
retx        float64
dtype: object

#### CRSP Monthly Stock Event - Delisting

In [10]:
qdlret_raw = pd.read_csv('qdlret_raw.csv.gz', compression='gzip')

qdlret_raw.head()

,permno,dlstdt,dlstcd,nwperm,nwcomp,nextdt,dlamt,dlretx,dlprc,dlpdt,dlret,permco,compno,issuno,hexcd,hsiccd,cusip,acperm,accomp
0,10000.0,1987-06-11,560.0,0.0,0.0,1987-06-12,0.218750,0.000000,-0.218750,1987-06-12,0.000000,7952.0,60007905.0,10396.0,3.0,3990.0,68391610,NaN,NaN
1,10001.0,2017-08-03,233.0,0.0,0.0,NaN,13.100000,0.011583,0.000000,2017-08-04,0.011583,7953.0,60007906.0,10398.0,2.0,4925.0,36720410,NaN,NaN
2,10002.0,2013-02-15,231.0,35263.0,1658.0,NaN,3.012500,0.046007,0.000000,2013-02-19,0.046007,7954.0,60007907.0,10399.0,3.0,6020.0,05978R10,NaN,NaN
3,10003.0,1995-12-15,231.0,10569.0,8477.0,NaN,5.448800,0.013730,0.000000,1995-12-18,0.013730,7957.0,60007910.0,10404.0,3.0,6020.0,39031810,NaN,NaN
4,10005.0,1991-07-11,560.0,0.0,0.0,1991-07-12,0.140625,0.125000,-0.140625,1991-07-12,0.125000,7961.0,60007914.0,10410.0,3.0,1310.0,95815510,NaN,NaN

In [11]:
qdlret_raw.dtypes

permno    float64
dlstdt     object
dlstcd    float64
nwperm    float64
nwcomp    float64
nextdt     object
dlamt     float64
dlretx    float64
dlprc     float64
dlpdt      object
dlret     float64
permco    float64
compno    float64
issuno    float64
hexcd     float64
hsiccd    float64
cusip      object
acperm    float64
accomp    float64
dtype: object

#### CRSP Daily Stock Event - Delisting

In [12]:
qdlretd_raw = pd.read_csv('qdlretd_raw.csv.gz', compression='gzip')

qdlretd_raw.head()

,permno,dlstdt,dlstcd,nwperm,nwcomp,nextdt,dlamt,dlretx,dlprc,dlpdt,dlret,permco,compno,issuno,hexcd,hsiccd,cusip,acperm,accomp
0,10000.0,1987-06-11,560.0,0.0,0.0,1987-06-12,0.21875,0.000000,-0.21875,1987-06-12,0.000000,7952.0,60007905.0,10396.0,3.0,3990.0,68391610,NaN,NaN
1,10001.0,2017-08-03,233.0,0.0,0.0,NaN,13.10000,0.000000,0.00000,2017-08-04,0.000000,7953.0,60007906.0,10398.0,2.0,4925.0,36720410,NaN,NaN
2,10002.0,2013-02-15,231.0,35263.0,1658.0,NaN,3.01250,0.010906,0.00000,2013-02-19,0.010906,7954.0,60007907.0,10399.0,3.0,6020.0,05978R10,NaN,NaN
3,10003.0,1995-12-15,231.0,10569.0,8477.0,NaN,5.44880,-0.003648,0.00000,1995-12-18,-0.003648,7957.0,60007910.0,10404.0,3.0,6020.0,39031810,NaN,NaN
4,10004.0,1986-01-17,575.0,0.0,0.0,NaN,0.00000,NaN,0.00000,NaN,NaN,7960.0,60007913.0,10407.0,3.0,5330.0,18906310,NaN,NaN

In [13]:
qdlretd_raw.dtypes

permno    float64
dlstdt     object
dlstcd    float64
nwperm    float64
nwcomp    float64
nextdt     object
dlamt     float64
dlretx    float64
dlprc     float64
dlpdt      object
dlret     float64
permco    float64
compno    float64
issuno    float64
hexcd     float64
hsiccd    float64
cusip      object
acperm    float64
accomp    float64
dtype: object

### Appendix

#CRSP Daily Stock Event - Delisting
try:
    dlret=pickle.load(open("qdlretd_raw.p","rb"))
except:
    db = wrds.Connection(wrds_username='natejensen')
    dlret = db.raw_sql("""select * from crspq.dsedelist""")
    db.close()
    #pickle.dump(dlret,open("qdlretd_raw.p","wb"))
    
# write a pandas dataframe to gzipped CSV file
dlret.to_csv("qdlretd_raw.csv.gz", 
           index=False, 
           compression="gzip")