## Win Beta Fama-MacBeth

### Import Packages

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import psycopg2 
import matplotlib.pyplot as plt
from dateutil.relativedelta import *
from pandas.tseries.offsets import *
from scipy import stats
import statsmodels.api as sm
import statistics
import pickle
import sys
sys.path.insert(0, "../")
import util
from importlib import reload
util=reload(util)

### Read in util.py Function Bank

In [2]:
from IPython.lib.backgroundjobs import BackgroundJobFunc

with open('util.py') as code:
    job = BackgroundJobFunc(exec, code.read())

result = job.run()

### Import Data

#### Winbeta w/ a window of 1

In [18]:
betadf = pd.read_csv('winbeta_1.csv.gz', compression='gzip', usecols=lambda x: x.lower())

betadf['jdate'] = pd.to_datetime(betadf['jdate'])

betadf.head()

   permno      jdate  month  year     mktSD  covmktstock      beta
0   10001 2011-12-31     12  2011  0.015311     0.000047  0.198816
1   10001 2012-12-31     12  2012  0.008042     0.000011  0.168342
2   10001 2014-12-31     12  2014  0.007163     0.000010  0.195414
3   10001 2016-12-31     12  2016  0.008193     0.000009  0.130659
4   10002 2002-12-31     12  2002  0.019160     0.000068  0.185383

#### Matched CRSP

In [14]:
crsp_m = pd.read_csv('qlocalcrsp_matched.csv.gz', compression='gzip', usecols=lambda x: x.lower())

crsp_m['jdate'] = pd.to_datetime(crsp_m['jdate'])

crsp_m.head()

#from these files, already have top 3k by market share every december
#permno already mapped to permco
#just need to merge, lag, split by quantile and regress

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,retadj,retxadj,me,month
0,10001,7953,-0.118436,-0.122370,11,2,2010-07-09,2017-08-03,2010-11-30,-0.118436,-0.122370,78653.359701,11
1,10001,7953,0.028992,0.024715,11,2,2010-07-09,2017-08-03,2011-01-31,0.028992,0.024715,84450.517908,1
2,10001,7953,0.022727,0.018553,11,2,2010-07-09,2017-08-03,2011-02-28,0.022727,0.018553,86017.316414,2
3,10001,7953,0.072404,0.068306,11,2,2010-07-09,2017-08-03,2011-03-31,0.072404,0.068306,91892.816414,3
4,10001,7953,-0.038789,-0.042626,11,2,2010-07-09,2017-08-03,2011-04-30,-0.038789,-0.042626,91535.726269,4

### Annualize Returns to Dec

In [20]:
crsp_m=util.annRet(crsp_m)

crsp_m.head()

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,retadj,retxadj,me,month,year,1+retadj,annRet
0,10001,7953,-0.118436,-0.122370,11,2,2010-07-09,2017-08-03,2010-11-30,-0.118436,-0.122370,78653.359701,11,2010,0.881564,-0.118436
1,10001,7953,0.028992,0.024715,11,2,2010-07-09,2017-08-03,2011-01-31,0.028992,0.024715,84450.517908,1,2011,1.028992,0.028992
2,10001,7953,0.022727,0.018553,11,2,2010-07-09,2017-08-03,2011-02-28,0.022727,0.018553,86017.316414,2,2011,1.022727,0.052378
3,10001,7953,0.072404,0.068306,11,2,2010-07-09,2017-08-03,2011-03-31,0.072404,0.068306,91892.816414,3,2011,1.072404,0.128575
4,10001,7953,-0.038789,-0.042626,11,2,2010-07-09,2017-08-03,2011-04-30,-0.038789,-0.042626,91535.726269,4,2011,0.961211,0.084799

In [21]:
# Clean up pre merge
betadf.drop(columns=['month','year'],inplace=True)

In [22]:
crsp = crsp_m.merge(betadf,how='inner',on=['permno','jdate'])

In [23]:
crsp = util.lag(crsp,'beta','month')

In [24]:
crsp = crsp.dropna()

# Pick top xxxx based on market cap per jdate, which is annual now
crsp = util.topX(crsp,'me', 2000)

In [25]:
crsp.sort_values('lagbeta')

,permno,permco,ret,retx,shrcd,exchcd,namedt,nameendt,jdate,retadj,retxadj,me,month,year,1+retadj,annRet,mktSD,covmktstock,beta,lagbeta
67143,83928,14959,-0.218241,-0.218241,11,3,1996-09-19,2004-06-09,1997-12-31,-0.218241,-0.218241,4.134000e+05,12,1997,0.781759,-0.376623,0.011422,0.000186,1.422663,-2.000000
58189,80058,12726,-0.008065,-0.008065,11,3,1993-12-23,1998-07-01,1994-12-31,-0.008065,-0.008065,1.741988e+05,12,1994,0.991935,-0.108696,0.006201,0.000024,0.615600,-1.975714
61018,81135,13485,0.060345,0.060345,11,3,1994-12-23,1999-05-02,1996-12-31,0.060345,0.060345,5.681178e+05,12,1996,1.060345,0.783626,0.007191,0.000025,0.490584,-1.931209
69285,84723,15434,0.120295,0.120295,11,2,2004-06-10,2006-06-29,2004-12-31,0.120295,0.120295,1.620210e+06,12,2004,1.120295,4.444445,0.006988,0.000072,1.484404,-1.879540
61069,81161,13481,0.034783,0.034783,11,3,1994-12-29,1998-03-02,1995-12-31,0.034783,0.034783,8.772978e+05,12,1995,1.034783,0.307692,0.004921,0.000013,0.553845,-1.719295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52898,77919,11710,0.659722,0.659722,11,3,1992-09-22,2000-07-31,1999-12-31,0.659722,0.659722,4.730557e+05,12,1999,1.659722,0.659722,0.006587,0.000028,0.651896,4.000000
58332,80108,12420,0.307692,0.307692,11,3,1993-09-22,1998-08-14,1996-12-31,0.307692,0.307692,3.746120e+05,12,1996,1.307692,0.863014,0.007421,0.000086,1.566652,4.000000
53137,78032,11779,-0.107143,-0.107143,11,3,1992-10-28,1997-10-26,1996-12-31,-0.107143,-0.107143,4.607900e+05,12,1996,0.892857,0.676829,0.007421,0.000084,1.528526,4.000000
64360,82771,31380,0.015873,0.015873,11,1,1995-12-27,1998-08-31,1996-12-31,0.015873,0.015873,3.192800e+05,12,1996,1.015873,-0.044776,0.007421,0.000036,0.660060,4.110421
49712,77158,2589,-0.099010,-0.099010,11,2,1991-12-27,1993-04-21,1992-12-31,-0.099010,-0.099010,1.256028e+05,12,1992,0.900990,-0.320896,0.006100,0.000050,1.336357,5.691886

In [26]:
df = crsp.copy()
#df = returns1.copy()

qsig = 'lagbeta'
#qsig = 'lagstockSD'

nquant = 5
df = util.splitQ(df,qsig,nquant)

temp = {}

for i in range(nquant):
    dftemp = df[df[qsig+'q']==i]
    import statsmodels.formula.api as smf

    def ols_coef(x,formula):
        return smf.ols(formula,data=x).fit().params

    gamma = (dftemp.groupby(['jdate']).apply(ols_coef,'annRet ~ lagbeta'))

    def fm_summary(p):
        s = p.describe().T
        s['std_error'] = s['std']/np.sqrt(s['count'])
        s['tstat'] = s['mean']/s['std_error']
        return s[['mean','std_error','tstat']]

    temp['q='+str(i)]=fm_summary(gamma)
    
print(str(dftemp.groupby(['jdate'])['permno'].count()[0])+' stocks in each quantile')
for entry in temp:
    print('\n'+entry,'\n',temp[entry])

400 stocks in each quantile

q=0
                mean  std_error     tstat
Intercept  0.350150   0.052360  6.687405
lagbeta   -0.253849   0.075072 -3.381410

q=1
                mean  std_error     tstat
Intercept  0.152178   0.095012  1.601666
lagbeta    0.067220   0.122964  0.546666

q=2
                mean  std_error     tstat
Intercept  0.241769   0.095202  2.539536
lagbeta   -0.004710   0.112690 -0.041797

q=3
                mean  std_error     tstat
Intercept -0.342910   0.229320 -1.495333
lagbeta    0.535197   0.218695  2.447235

q=4
                mean  std_error     tstat
Intercept  0.079445   0.083710  0.949055
lagbeta    0.162223   0.076017  2.134041

In [27]:
for k in temp.keys():
    print(temp[k])

               mean  std_error     tstat
Intercept  0.350150   0.052360  6.687405
lagbeta   -0.253849   0.075072 -3.381410
               mean  std_error     tstat
Intercept  0.152178   0.095012  1.601666
lagbeta    0.067220   0.122964  0.546666
               mean  std_error     tstat
Intercept  0.241769   0.095202  2.539536
lagbeta   -0.004710   0.112690 -0.041797
               mean  std_error     tstat
Intercept -0.342910   0.229320 -1.495333
lagbeta    0.535197   0.218695  2.447235
               mean  std_error     tstat
Intercept  0.079445   0.083710  0.949055
lagbeta    0.162223   0.076017  2.134041

In [28]:
print(df['jdate'].min())
print(df['jdate'].max())

1991-12-31 00:00:00
2020-12-31 00:00:00

In [29]:
lvlist=[23229,11404,69796,27959,12914,76856,88924,16600,48653,21207,18163,67847,86136,18411,76123,77730,23536]
for i in lvlist:
    if i in df['permno'].to_list():
        print(str(i) + ' in low vol list')
    else:
        print(str(i) + ' NOT in low vol list')

23229 in low vol list
11404 in low vol list
69796 in low vol list
27959 in low vol list
12914 in low vol list
76856 in low vol list
88924 in low vol list
16600 in low vol list
48653 in low vol list
21207 in low vol list
18163 in low vol list
67847 in low vol list
86136 in low vol list
18411 in low vol list
76123 in low vol list
77730 in low vol list
23536 in low vol list

In [30]:
print (11404 in df['permno'])

True